.complementary-products .wbproduct-container .card--card .wbvariantbadges {
  margin: calc(var(--wbspace-badge) + 10px);
}
.complementary-products__container {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
product-recommendations:not(.is-accordion) .complementary-products__container {
  margin-top: 1.5rem;
}
.complementary-products__container > details[open] {
  padding-bottom: 1.5rem;
}
.complementary-slider {
  margin-top: 0;
  gap: 0;
}
.complementary-slide {
  --shadow-padding-sides: calc(
    (var(--shadow-horizontal-offset) + var(--shadow-blur-radius)) *
      var(--shadow-visible)
  );
  --shadow-padding-sides-negative: calc(
    (var(--shadow-horizontal-offset) * -1 + var(--shadow-blur-radius)) *
      var(--shadow-visible)
  );
}
.complementary-products .wbimgblock .placeholder-svg {
  padding: 5px 0;
}
.complementary-products .price .badge {
  margin: 0;
}
.complementary-slide > ul {
  display: flex;
  flex-direction: column;
  gap: var(--grid-mobile-vertical-spacing);
}
.complementary-slide.complementary-slide--standard > ul {
  gap: calc(var(--grid-mobile-vertical-spacing) + 8px);
}
.complementary-products .card {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  align-items: flex-start;
}
.complementary-products .card--card {
  padding: 10px;
}
.product__info-container .complementary-products .price .price-item {
  font-size: calc(var(--font-body-scale) * 18px);
}
.comp-product .complementary-products .product__media-item:not(.is-active),
.comp-product .complementary-products .product__media-item:not(.is-active) {
  display: block;
}
.comp-product
  .complementary-products
  .wbproduct-container
  .product__media-item:not(:first-child) {
  display: none;
}
.complementary-products .card-wrapper .card .card__inner {
  width: 23%;
}
.complementary-products .card-wrapper .card__content {
  width: 77%;
}
.complementary-products .card-wrapper .card__content {
  text-align: var(--card-text-alignment);
}
.product__info-container .complementary-products .price {
  justify-content: var(--card-text-alignment);
}
.complementary-products .slider-buttons {
  column-gap: 5px;
}
.complementary-products .slider-buttons button {
  background: rgb(var(--color-background));
  color: rgb(var(--color-foreground));
  border-radius: var(--buttons-radius);
  transition: 0.3s ease;
  padding: 0;
  display: flex !important;
}
.complementary-products .card--standard .wbproductdes {
  padding: 0;
}
.complementary-products .product-form {
  margin: 0;
}
.complementary-products .slider-buttons button:hover {
  background-color: rgb(var(--color-foreground));
  color: rgb(var(--color-background));
}
.complementary-products .slider-buttons button:hover svg,
.complementary-products .slider-buttons .slider-button[disabled]:hover .icon {
  color: rgb(var(--color-background));
}
@media screen and (min-width: 768px) {
  .complementary-slide > ul {
    gap: var(--grid-desktop-vertical-spacing);
  }
  .complementary-slide.complementary-slide--standard > ul {
    gap: calc(var(--grid-desktop-vertical-spacing) + 8px);
  }
  .complementary-products .grid__item {
    width: 100%;
    max-width: 100%;
  }
}
.complementary-slide.grid__item {
  width: 100%;
  padding-top: max(var(--focus-outline-padding), var(--shadow-padding-top));
  padding-bottom: max(
    var(--focus-outline-padding),
    var(--shadow-padding-bottom)
  );
  padding-right: max(var(--focus-outline-padding), var(--shadow-padding-sides));
  padding-left: max(
    var(--focus-outline-padding),
    var(--shadow-padding-sides-negative)
  );
}
.complementary-slide .card-wrapper {
  height: auto;
}
.complementary-products > .summary__title {
  display: flex;
  line-height: 1;
  padding: 1.5rem 0;
}
.accordion + product-recommendations .accordion,
product-recommendations.is-accordion + .accordion {
  margin-top: 0;
  border-top: none;
}
.complementary-products > .summary__title .icon-accordion {
  fill: rgb(var(--color-foreground));
  height: calc(var(--font-heading-scale) * 2rem);
  margin-right: calc(var(--font-heading-scale) * 1rem);
  width: calc(var(--font-heading-scale) * 2rem);
}
.complementary-products__container .card--card .card__content,
.complementary-products__container .card--horizontal .card__information {
  padding: 0;
}
.complementary-products__container .card--horizontal .card__inner {
  max-width: 20%;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .complementary-products__container .card--horizontal .card__inner {
    max-width: 25%;
  }
}
.complementary-slide .card--text .card__content {
  grid-template-rows: minmax(0, 1fr) max-content auto;
}
.complementary-products__container .card--card.card--media > .card__content {
  margin-top: 0px;
}
.complementary-products-contains-quick-add .underline-links-hover:hover a {
  text-decoration: initial;
}
.complementary-products-contains-quick-add .card__heading:hover a {
  text-decoration: underline;
}
.complementary-products__container .card--card .card__inner .card__media {
  border-radius: calc(
    var(--corner-radius) - var(--border-width) - var(--image-padding)
  );
}
.complementary-products__container .card--horizontal .quick-add {
  margin: 0;
  max-width: 20rem;
}
.complementary-products__container .quick-add__submit {
  padding: 1.5rem 0;
  min-height: inherit;
}
.complementary-products__container .quick-add__submit .icon-plus {
  width: 1.2rem;
}
.complementary-products__container .icon-wrap {
  display: flex;
}
.complementary-products .sold-out-message:not(.hidden) + .icon-wrap {
  display: none;
}
.complementary-products__container
  .quick-add__submit:not(.animate-arrow)
  .icon-wrap {
  transition: transform var(--duration-short) ease;
}
.complementary-products__container
  .quick-add__submit:not(.animate-arrow):hover
  .icon-wrap {
  transform: rotate(90deg);
}
.complementary-products__container .quick-add__submit:after,
.complementary-products__container .quick-add__submit:hover:after {
  box-shadow: none;
}
.complementary-products__container .card--horizontal .quick-add,
.complementary-products__container .card__badge {
  justify-self: var(--text-alignment);
}
.product--no-media .complementary-products__container .price {
  text-align: var(--text-alignment);
}
.complementary-products .product-form .cartb svg {
  display: none;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .complementary-products .card-wrapper .card .card__inner {
    width: 30%;
  }
  .complementary-products .card-wrapper .card__content {
    width: 70%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .complementary-products .card-wrapper .card .card__inner {
    width: 40%;
  }
  .complementary-products .card-wrapper .card__content {
    width: 60%;
  }
}
@media screen and (max-width: 991px) {
  .complementary-products .slider-buttons button {
    width: 34px;
    height: 34px;
    background: rgba(var(--color-base-background-2));
  }
  .product__info-container .complementary-products .price .price-item {
    font-size: calc(var(--font-body-scale) * 14px);
  }
}
@media screen and (max-width: 767px) {
  .complementary-products .card-wrapper .card .card__inner {
    width: 40%;
  }
  .complementary-products .card-wrapper .card__content {
    width: 60%;
  }
}
