.predictive-search {
    display: none;
    position: absolute;
    top: calc(100% + 0.1rem);
    width: calc(100% + 0.2rem);
    left: -0.1rem;
    z-index: 1000;
    background: rgb(var(--color-background));
    border-radius: var(--popup-corner-radius);
    border-width: var(--popup-border-width);
    box-shadow: var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius) rgba(var(--color-shadow),var(--popup-shadow-opacity));
    border-color: rgba(var(--color-foreground),var(--popup-border-opacity));
    border-style: solid;
    overflow-y: auto;
}
#predictive-search-results{
    background: rgb(var(--color-background)); 
    padding: 15px;
    border-radius: var(--popup-corner-radius);
    border-width: var(--popup-border-width);
}
.predictive-search--search-template {
    z-index: 2
}
#predictive-search-results-list li a:hover{
    color: unset;
}
predictive-search[open] .predictive-search, 
predictive-search[loading] .predictive-search {
    display: block;
}
.predictive-search__heading {
    margin: 0 auto 12px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: calc(var(--font-body-scale) * 14px);
    text-transform: uppercase;
}
predictive-search .spinner {
    width: 1.5rem;
    height: 1.5rem;
    line-height: 0;
}
.predictive-search__heading .spinner {
    margin: 0 0.2rem 0 2rem;
}
predictive-search:not([loading]) .predictive-search__heading .spinner,
predictive-search:not([loading]) .predictive-search__loading-state,
predictive-search:not([loading]) .predictive-search-status__loading {
    display: none;
}
predictive-search[loading] .predictive-search__loading-state {
    display: flex;
    justify-content: center;
    padding: 1rem;
}
predictive-search[loading] .predictive-search__heading ~ .predictive-search__loading-state,
predictive-search[loading] .predictive-search__results-list:first-child {
    display: none;
}
.predictive-search__item {
    display: flex;
    text-align: left;
    width: 100%;
}
.predictive-search__item--link {
    display: grid;
    grid-template-columns: 6rem 1fr;
    grid-column-gap: 0rem;
    grid-template-areas: 'product-image product-content';
    align-items: center;
    margin-bottom: 15px;
}
.predictive-search__item-content {
    grid-area: product-content;
    display: flex;
    flex-direction: column;
    line-height: normal;
}
.predictive-search__item-content--centered {
    justify-content: center;
}
.predictive-search__item-vendor {
    font-size: calc(var(--font-body-scale) * 12px);
    margin-bottom: 10px;
}
.predictive-search__list-item .predictive-search__item-heading{
    transition: .3s ease;
}
.predictive-search__list-item:hover .predictive-search__item-heading{
    color: var(--color-wbmaincolors-text);
}
.predictive-search__item-heading {
    font-size: calc(var(--font-body-scale) * 14px);
    text-transform: capitalize;
    margin-bottom: 10px;
}
.predictive-search__item--term {
    justify-content: space-between;
    align-items: center;
    padding: 0;
    word-break: break-all;
    margin: 0;
    font-size: calc(var(--font-body-scale) * 16px);
    background: rgb(var(--color-foreground),.05);
    padding: 10px;
    border-radius: var(--custom-radius);
}
.predictive-search__item--term .icon-arrow {
    flex-shrink: 0;
}
.predictive-search__image {
    grid-area: product-image;
    border: 1px solid rgba(var(--color-foreground),0.08);
    border-radius: var(--media-radius);
}
predictive-search .price .price-item{
    font-size: calc(var(--font-body-scale) * 16px);
}
predictive-search .price--on-sale .price-item--regular{
    font-size: calc(var(--font-body-scale) * 14px);
}
#predictive-search-results .price .wbvariantbadges{
    display: none;
}
.predictive-search__results-groups-wrapper {
    display: flex;
    padding-bottom: 10px;
    gap: 15px;
}
.predictive-search__result-group {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    gap: 2rem;
}
.predictive-search__heading{
    border-bottom: 0.1rem solid rgba(var(--color-foreground),.08);
    padding-bottom: 10px;
    color: rgba(var(--color-foreground),.7);
}
.predictive-search::-webkit-scrollbar {
  width: 5px;
}
.predictive-search::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgb(var(--color-foreground),.2);
}
.predictive-search::-webkit-scrollbar-thumb {
  background-color: rgb(var(--color-foreground));
  outline: 1px solid rgb(var(--color-foreground));
  border-radius: 0px;
}
@media (min-width: 1200px) {
    .predictive-search{
        max-height: 550px !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .predictive-search__results-groups-wrapper{
        flex-direction: column;
    }
}
@media (max-width: 767px) {
    .predictive-search--header {
        right: 0;
        left: 0;
        top: 100%;
        width: unset; 
    }
    .predictive-search__item-heading{
        font-size: calc(var(--font-body-scale) * 14px);
        margin-bottom: 6px;
    }
    .predictive-search .price .price-item{
        font-size: calc(var(--font-body-scale) * 14px);
        letter-spacing: 0;
    }
    .predictive-search .price--on-sale .price-item--regular{
        font-size: 12px;
        letter-spacing: 0;
    }
    .predictive-search__results-groups-wrapper{
        flex-direction: column;
    }
    .predictive-search__results-groups-wrapper:not(.predictive-search__results-groups-wrapper--no-suggestions){
        gap: 2rem;
    }
    .predictive-search__result-group:first-child .predictive-search__pages-wrapper{
        display: none;
    }
}
@media (max-width: 991px) {
    .predictive-search {
        overflow-y: auto;
        -webkit-overflow-scrolling: touch; 
    }
} 
@media (min-width: 768px) {
    .header predictive-search { 
        position: relative;
    }
    .predictive-search__result-group:first-child{
        flex: 0 0 13.4rem;
    }
    .predictive-search__results-groups-wrapper--no-products .predictive-search__result-group:nth-child(2), .predictive-search__result-group:last-child .predictive-search__pages-wrapper {
        display: none;
    }
    .predictive-search__results-groups-wrapper--no-products .predictive-search__result-group:first-child, .predictive-search__result-group:only-child {
        flex-grow: 1;
    }
}