.localization-form {
    display: flex;
    flex-direction: column;
    flex: auto 1 0;
    padding: 10px;
    margin: 0 auto;
  }
  
  .localization-form:only-child {
    display: inline-flex;
    flex-wrap: wrap;
    flex: initial;
    padding: 10px 0;
  }
  
  .localization-form:only-child .button,
  .localization-form:only-child .localization-form__select {
    flex-grow: 1;
  }
  
  @media screen and (min-width: 768px) {
    .localization-form {
      padding: 10px 20px 10px 0;
    }
  
    .localization-form:first-of-type {
      padding-left: 0;
    }
  
    .localization-form:only-child {
      justify-content: start;
      width: auto;
      margin: 0 10px 0 0;
    }
  
    .localization-form:only-child .button,
    .localization-form:only-child .localization-form__select {
      margin: 0;
    }
  }
  
  @media screen and (max-width: 991px) {
    noscript .localization-form:only-child {
      width: 100%;
    }
  }
  
  .localization-form .button {
    padding: 10px;
  }
  
  .localization-form__currency {
    display: inline-block;
  }
  
  @media screen and (max-width: 767px) {
    .localization-form .button {
      word-break: break-all;
    }
  }
  
  .localization-form__select {
    border-radius: var(--inputs-radius-outset);
    position: relative;
    margin-bottom: 15px;
    padding-left: 10px;
    text-align: left;
    min-height: calc(40px + var(--inputs-border-width) * 2);
    min-width: calc(70px + var(--inputs-border-width) * 2);
  }
  
  .disclosure__button.localization-form__select {
    padding: calc(20px + var(--inputs-border-width));
    background: rgb(var(--color-background));
  }
  
  noscript .localization-form__select {
    padding-left: 0px;
  }
  
  @media screen and (min-width: 768px) {
    noscript .localization-form__select {
      min-width: 200px;
    }
  }
  
  .localization-form__select .icon-caret {
    position: absolute;
    content: '';
    height: 6px;
    right: calc(var(--inputs-border-width) + 15px);
    top: calc(50% - 2px);
  }
  
  .localization-selector.link {
    text-decoration: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: rgb(var(--color-foreground));
    width: 100%;
    padding-right: 10px;
    padding-bottom: 15px;
  }
  
  noscript .localization-selector.link {
    padding-top: 15px;
    padding-left: 15px;
  }
  
  .disclosure .localization-form__select {
    padding-top: 15px;
  }
  
  .localization-selector option {
    color: #000000;
  }
  
  .localization-selector + .disclosure__list-wrapper {
    opacity: 1;
    animation: animateLocalization var(--duration-default) ease;
  }
  
  .disclosure {
    position: relative;
  }
  
  .disclosure__button {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 40px;
    padding: 0 15px 0 15px;
    background-color: transparent;
  }
  
  .disclosure__list-wrapper {
    border-width: var(--popup-border-width);
    border-style: solid;
    border-color: rgba(var(--color-foreground), var(--popup-border-opacity));
    overflow: hidden;
    position: absolute;
    transform: translateY(-1rem);
    z-index: 9;
    background-color: rgb(var(--color-background));
    border-radius: var(--popup-corner-radius);
    box-shadow: var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius)
      rgba(var(--color-shadow), var(--popup-shadow-opacity));
  }
  
  .disclosure__list {
    position: relative;
    overflow-y: auto;
    font-size: 14px;
    padding-bottom: 5px;
    padding-top: 5px;
    scroll-padding: 5px 0;
    min-height: 82px;
    max-height: 206.5px;
    max-width: 220px;
    min-width: 120px;
    width: max-content;
    text-align: left;
  }
  
  .disclosure__item {
    position: relative;
    min-height: 44px;
  }
  
  .disclosure__link {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    line-height: 1;
    color: rgb(var(--color-foreground));
    word-break: break-word;
  }
  
  .disclosure__link:hover {
    color: rgb(var(--color-foreground));
  }
  .disclosure__button[aria-expanded='true'] .icon-caret {
    transform: rotate(180deg);
  }
  
  /* Header localization */
  .header-localization .localization-form:only-child {
    margin: 0;
    padding: 0;
  }
  
  .header-localization .disclosure .localization-form__select {
    letter-spacing: 0.6px;
    height: auto;
    min-height: initial;
    background: transparent;
  }
  
  .header-localization .localization-form__select.link:after,
  .header-localization .localization-form__select.link:before {
    box-shadow: none;
  }
  
  .header-localization .localization-form__select.link:focus-visible {
    outline: 2px solid rgba(var(--color-foreground), 0.5);
    outline-offset: -2px;
    box-shadow: 0 0 2px 0 rgba(var(--color-foreground), 0.3);
  }
  
  /* Header icons (desktop) */
  .desktop-localization-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  
  .desktop-localization-wrapper .localization-selector + .disclosure__list-wrapper {
    animation: animateMenuOpen var(--duration-default) ease;
  }
  
  .desktop-localization-wrapper .localization-form:only-child {
    padding: 0;
  }
  
  .header-localization:not(.menu-drawer__localization) {
    align-items: center;
  }
  
  .js .header-localization:not(.menu-drawer__localization) .localization-form__select {
    padding: 0 27px 0 12px;
    width: fit-content;
    height: 44px;
  }
  
  .header-localization:not(.menu-drawer__localization) .localization-form:only-child .localization-form__select {
    margin: 0;
  }
  
  .header-localization:not(.menu-drawer__localization).localization-form__select > span {
    max-width: 20ch;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  
  .header-localization:not(.menu-drawer__localization) localization-form:only-child .localization-form__select > span {
    max-width: 26ch;
  }
  
  .header-localization:not(.menu-drawer__localization) .localization-form__select .icon-caret {
    right: 8px;
  }
   
  .header-localization .disclosure__list-wrapper {
    bottom: initial;
    top: 100%;
    right: 0; 
    /* transform: translateY(0); */
  }
  .desktop-hide-localization{
    display: none;
  }