quantity-popover {
  position: relative;
  display: block;
}

quantity-popover volume-pricing li:nth-child(odd) {
  background: rgba(var(--color-foreground), 0.03);
}

quantity-popover volume-pricing li {
  font-size: 14px;
  letter-spacing: 0.6px;
  padding: 6px 8px;
  display: flex;
  justify-content: space-between;
}

.quantity-popover__info.global-settings-popup {
  width: 100%;
  z-index: 2;
  position: absolute;
  background-color: rgb(var(--color-background));
  max-width: 360px;
}

.quantity-popover__info .button-close,
.variant-remove-total quick-order-list-remove-all-button .button,
.quick-order-list-total__confirmation
  quick-order-list-remove-all-button
  .button,
quantity-popover quick-order-list-remove-button .button {
  --shadow-opacity: 0;
  --border-opacity: 0;
}

.quantity-popover__info-button {
  display: flex;
  align-items: center;
  margin: 0 4px 0 0;
  min-width: 15px;
  min-height: 15px;
  --shadow-opacity: 0;
  --border-opacity: 0;
}

.quantity-popover__info-button--icon-with-label {
  align-items: flex-start;
  text-align: left;
}

.quantity-popover__info-button--icon-with-label svg {
  flex-shrink: 0;
}

.quantity-popover__info-button--open {
  text-decoration: underline;
}

.quantity-popover__info-button span {
  padding-left: 10px;
}

@media screen and (max-width: 991px) {
  .quantity-popover__info.global-settings-popup {
    left: 0;
  }

  .quantity-popover__info-button {
    padding-left: 0;
  }
}

.quantity-popover__info .quantity__rules {
  margin-bottom: 10px;
}

.quantity-popover__info .volume-pricing-label {
  display: block;
  margin-left: 12px;
  margin-top: 12px;
  font-size: 12px;
}

.quantity-popover__info .button {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 4px;
  right: 0;
  padding: 0 12px 0 0;
  display: flex;
  justify-content: flex-end;
}

.quantity-popover__info .volume-pricing-label ~ .button {
  top: -2px;
}

.quantity-popover__info .button .icon {
  width: 15px;
  height: 15px;
}

quantity-popover volume-pricing {
  margin-top: 12px;
  display: block;
}

quantity-popover .quantity__rules span:first-of-type {
  display: block;
}

.quantity-popover-container {
  display: flex;
  padding: 5px 5px 5px 0;
}

.quantity-popover-container:not(.quantity-popover-container--hover) {
  align-items: center;
}

@media screen and (min-width: 992px) {
  .quantity-popover-container--hover:hover {
    background-color: rgba(var(--color-foreground), 0.03);
    border-radius: var(--inputs-radius-outset);
  }

  .quantity-popover-container--empty {
    margin-right: 27px;
  }

  .quantity-popover__info.global-settings-popup {
    width: 270px;
  }

  .quantity-popover-container {
    width: auto;
    max-width: 200px;
  }

  .quantity-popover__info.global-settings-popup {
    transform: translateY(10px);
  }
}

quantity-popover:has(.quantity__input:focus-visible) .quantity-popover__info {
  display: block;
}

quantity-popover .quantity {
  background: rgb(var(--color-background));
}

quantity-popover .quantity__rules {
  margin-left: 8px;
}

quantity-popover .quantity__rules .divider:nth-child(2)::before {
  content: none;
}

quantity-popover .quantity__button:not(:focus-visible):not(.focused),
quantity-popover .quantity__input:not(:focus-visible):not(.focused) {
  background-color: initial;
}
