.banner__box {
  padding: 60px 30px;
  position: relative;
  height: fit-content;
  align-items: center;
  text-align: center;
  width: 100%;
  word-wrap: break-word;
  z-index: 1;
}
.email-signup-banner__box .email-signup-banner__heading {
  margin-bottom: 0;
  font-weight: var(--font-body-weight-semibold);
}
.email-signup-banner__box .newsletter-form__field-wrapper .field__button {
  text-transform: uppercase;
  background: rgba(var(--color-button), var(--alpha-button-background));
  color: rgb(var(--color-button-text));
  height: auto;
  min-width: 115px;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
}
.email-signup-banner__box .newsletter-form__field-wrapper .field__button:hover {
  background-color: rgba(var(--color-button), 0.7);
  color: rgb(var(--color-button-text));
}
.email-signup-banner__box > * + .newsletter__subheading {
  margin-top: 1rem;
}
.email-signup-banner__box .newsletter__subheading p {
  margin: 0;
}
.wb_part_half {
  flex: 0 0 50%;
  max-width: 50%;
}
.email-signup-banner-background {
  width: 100%;
  height: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.email-signup-banner .banner__media {
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .email-signup-banner-background:not(.email-signup-banner-background-mobile),
  .email-signup-banner__box
    .newsletter-form__field-wrapper
    .field__button
    span {
    display: none;
  }
  .banner--mobile-content-align-left .newsletter-form__message {
    justify-content: flex-start;
  }
  .banner--mobile-content-align-right .newsletter-form__message {
    justify-content: right;
  }
  .banner:not(.banner--mobile-bottom) .field__input {
    background-color: transparent;
  }
  .email-signup-banner .email-signup-banner__box {
    margin: 0 15px;
  }
  .email-signup-banner__box .newsletter-form__field-wrapper .field__button {
    min-width: unset;
  }
  .email-signup-banner.banner:not(.banner--mobile-bottom) .banner__box {
    background-color: unset;
  }
  .email-signup-banner__box .newsletter-form__field-wrapper .field__button svg {
    fill: rgb(var(--color-button-text));
  }
  .wb_part_half.banner--small:not(.banner--adapt) {
    min-height: 25rem;
  }
  .wb_part_half.banner--medium:not(.banner--adapt) {
    min-height: 30rem;
  }
  .wb_part_half.banner--large:not(.banner--adapt) {
    min-height: 35rem;
  }
}
@media screen and (min-width: 768px) {
  .banner--desktop-transparent .email-signup-banner__box--no-image * {
    color: rgb(var(--color-base-text));
  }
  .banner--desktop-transparent
    .email-signup-banner__box--no-image
    .field__input {
    box-shadow: 0 0 0 0.1rem rgba(var(--color-base-text), 0.55);
  }
  .banner--desktop-transparent
    .email-signup-banner__box--no-image
    .field__input:focus {
    box-shadow: 0 0 0 0.2rem rgba(var(--color-base-text), 0.75);
  }
  .banner--desktop-transparent
    .email-signup-banner__box--no-image
    .field__button:focus-visible {
    outline: 0.2rem solid rgba(var(--color-base-text), 0.5);
    box-shadow:
      0 0 0 0.3rem rgb(var(--color-background)),
      0 0 0.5rem 0.4rem rgba(var(--color-base-text), 0.3);
  }
  .email-signup-banner-background-mobile,
  .email-signup-banner__box .newsletter-form__field-wrapper .field__button svg {
    display: none;
  }
  .banner--content-align-center .newsletter-form__message {
    justify-content: center;
  }
  .banner--content-align-right .newsletter-form__message {
    justify-content: right;
  }
  .banner__box {
    min-width: 600px;
    width: auto;
  }
  .email-signup-banner.banner--medium:not(.banner--adapt),
  .email-signup-banner.banner--small:not(.banner--adapt),
  .email-signup-banner.banner--large:not(.banner--adapt) {
    min-height: unset;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .banner__box {
    min-width: 440px;
  }
}
@media screen and (min-width: 992px) {
  .email-signup-banner.banner--medium:not(.banner--adapt) {
    min-height: 40rem;
  }
  .email-signup-banner.banner--large:not(.banner--adapt) {
    min-height: 52rem;
  }
}
@media (max-width: 991px) {
  .email-signup-banner.banner {
    flex-direction: column;
  }
  .wb_part_half {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .email-signup-banner.banner .wb_part_half.banner__content {
    min-height: auto;
  }
  .wb_part_half.banner--adapt.media
    > *:not(.zoom):not(.deferred-media__poster-button) {
    position: unset;
  }
}
