.blog .article-card .wbuserdate {
    margin-top: 10px;
}
.rm_btn {
    margin-top: 15px;
}
.wbblogimgdesc h2,.wbblogimgdesc h3{
    font-size: calc(var(--font-body-scale) * 18px);
    text-transform: capitalize;
    padding: 0 0 10px 0;
    font-weight: var(--font-body-weight-medium);
    margin: 0;
}
.blog__view-all{
    margin-top: 20px;
}
.wbuserdate .wbblogauth svg {
    fill: rgb(var(--color-foreground));
}
.wbuserdate .wbblogauth,.wbuserdate .article-card__footer,.wbuserdate .article-card__footer span, .wbuserdate .blogpipe{
    display: inline-block;
    vertical-align: middle;
}
.wbuserdate .blogpipe::before{
    content: '';
    margin: 0 15px;
    display: inline-block;
    vertical-align: middle;
    border-left: 1px solid rgba(var(--color-foreground),0.08);
    height: 15px;
}
.wbblogtxt{
    font-size: calc(var(--font-body-scale) * 14px);
    color: rgba(var(--color-foreground),0.8);
    letter-spacing: 0;
    margin-bottom: 10px;
}
.wbblogimgdesc{
    margin-top: 15px;
}
@media (min-width: 768px) {
    .blog_new_design .grid {
        display: grid;
        grid-template-columns: 50% auto;
        grid-template-areas: "main-image  sec-img" "main-image  third-img" "main-image fourth-img" "five-img six-img";
    }
    .blog_new_design .grid__item {
        width: auto;
        max-width: unset;
    }
    .blog_new_design .grid__item:first-child {
        grid-area: main-image;
    }
    .blog_new_design .grid__item:nth-child(2) {
        grid-area: sec-img;
    }
    .blog_new_design .grid__item:nth-child(3) {
        grid-area: third-img;
    }
    .blog_new_design .grid__item:nth-child(4) {
        grid-area: fourth-img;
    }
    .blog_new_design .grid__item:nth-child(5) {
        grid-area: five-img;
    }
    .blog_new_design .grid__item:nth-child(6) {
        grid-area: six-img;
    }
    .blog_new_design article.article-card {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    .blog_new_design .wbblogimg {
        width: 40%;
    }
    .blog_new_design .wbblogimgdesc {
        margin-top: 0;
        width: 60%;
    }
    .blog_new_design .grid__item:first-child article.article-card {
        display: block;
    }
    .blog_new_design .grid__item:first-child .wbblogimg {
        width: 100%;
    }
    .blog_new_design .grid__item:first-child .wbblogimgdesc {
        margin-top: 15px;
        width: 100%;
    }
}
@media (max-width: 991px){
    .wbblogimgdesc h2,.wbblogimgdesc h3{
        font-size: calc(var(--font-body-scale) * 16px);
    }
    .wbblogtxt{
        font-size: calc(var(--font-body-scale) * 14px);
    }
    .wbuserdate .blogpipe:before {
        margin: 0 6px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .wbblogimgdesc h2,.wbblogimgdesc h3{
        font-size: calc(var(--font-body-scale) * 16px);
    }
    .wbblogtxt{
        font-size: calc(var(--font-body-scale) * 14px);
    }
    .blog_new_design article.article-card {
        gap: 12px;
    }
    .blog_new_design .wbblogtxt {
        font-size: calc(var(--font-body-scale) * 13px);
        margin-bottom: 5px;
    }
    .blog_new_design .wbblogdate {
        font-size: calc(var(--font-body-scale) * 12px);
    }
    .blog_new_design .rm_btn {
        margin-top: 10px;
    }
    .blog_new_design .rm_btn .button {
        padding: .5rem 1rem
    }
}